@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --bg-dark: #111;
  --color-white: #fff;
  --theme-color: #00b1a2;
  --gray: #d8d8d8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--gray);
}

.navbar {
  display: flex;
  padding: 10px 8vw;
  color: var(--color-white);
  background: var(--bg-dark);
}

.logo {
  flex: 1px;
  display: flex;
  align-items: center;
  font-family: 'Righteous', 'cursive', sans-serif;
  font-size: 3rem;
  color: var(--theme-color);
  cursor: pointer;
}

.categories {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 10px 20px;
}

.category-item {
  width: 15%;
  padding: 5px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.category-item:nth-child(3) {
  width: 120px;
}

.category-item:hover {
  color: var(--theme-color);
  transform: scale(1.1);
}

.content-body {
  margin: 0;
  height: auto;
  min-height: 74vh;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0 3vw;
  border-bottom: 1px solid #afafaf;
}

.searcher {
  display: flex;
  align-items: center;
  width: 40%;
  background: rgba(216, 216, 216, 0.25);
  box-shadow: 0 8px 32px 0 rgba(32, 33, 46, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid var(--bg-dark);
}

.search.icon {
  color: #575656;
  width: 30px;
  height: 100%;
  font-size: 1.2rem;
  padding: 5px;
  margin: 0;
  border-radius: 10px;
}

.search-input {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 5px;
  outline: none;
  background: none;
  border: none;
  border-radius: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 20px 3vw;
}

.tv-show-card {
  width: 210px;
  height: 400px;
  margin: 20px 10px;
  color: var(--color-white);
  list-style: none;
  background: rgba(13, 14, 22, 0.9);
  box-shadow: 0 8px 32px 0 rgba(24, 42, 46, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
}

.tv-show-image {
  display: block;
  width: 100%;
  height: 280px;
  border-radius: 5px;
  cursor: pointer;
}

.title {
  margin: 0;
  padding: 5px;
}

.network-rating {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin: 0;
}

.network-rating p {
  margin: 0;
}

.country-likes {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.country,
.likes {
  margin: 0;
}

.card-actions {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.comments,
button {
  width: 100px;
  padding: 4px;
  color: var(--bg-dark);
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
  border-radius: 5px;
  cursor: pointer;
}

.comments:hover {
  color: var(--color-white);
  background: none;
}

#dialog {
  width: 60%;
  min-width: 200px;
  min-height: 300px;
  left: 50%;
  top: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  border: 2px solid var(--bg-dark);
  border-radius: 5px;
}

#dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dialog-content input,
textarea {
  margin-bottom: 6px;
  padding: 4px 5px;
}

.new-comment {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

#name {
  height: 30px;
  width: 180px;
}

.comments-list {
  margin-bottom: 5%;
  list-style-type: none;
}

.comments-list li{
  padding: 4px 0;
}

.footer-box,
footer {
  border: 1px solid var(--bg-dark);
}

.credits {
  padding: 20px;
}

.footer-box {
  height: 20px;
  background-color: var(--bg-dark);
}
